@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: black;
  --foreground: #ECECEC;
  --content-bg-color:#171717;
  --rainbow: linear-gradient(70deg, rgb(59, 130, 246), rgb(139, 92, 246), rgb(236, 72, 153));
  --rainbow-hover: linear-gradient(70deg, rgb(59, 130, 246, 0.9), rgb(139, 92, 246, 0.9), rgb(236, 72, 153, 0.9));
}

/* dark theme disable */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ECECEC;
    --content-bg-color:#171717
  }
} */

/* Hide scroll bar*/
html, body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and WebKit browsers */
}


body {
  /* color: var(--foreground);*/
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
